language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0

matrix:
  include:
    - php: 5.3
      dist: precise
  exclude:
    - php: 5.3
      dist: trusty

before_script:
  - composer selfupdate
  - composer install --prefer-source --dev
  - phpenv rehash

script: vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_success:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
